<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wristRollRight">
  <link
    name="wristRollRight">
    <inertial>
      <origin
        xyz="-2.6761E-07 7.9187E-09 -0.025191"
        rpy="0 0 0" />
      <mass
        value="0.021808" />
      <inertia
        ixx="7.1998E-06"
        ixy="-5.4763E-11"
        ixz="-5.827E-12"
        iyy="1.2789E-05"
        iyz="3.8632E-12"
        izz="1.0831E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wristRollRight/meshes/wristRollRight.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wristRollRight/meshes/wristRollRight.STL" />
      </geometry>
    </collision>
  </link>
</robot>